:root {
  --body-bgc: hsl(0, 0%, 0%); 
  --header-button-bgc: hsl(0, 0%, 10%);
  --font-color: hsl(0, 0%, 40%);
  --content-bgc: hsl(0, 0%, 10%);
}

* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

body  {
  background-color: var(--body-bgc);
  height: 100vh;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: .5rem;
  list-style-type: none;
  padding: none;
}

.header-button {
  background-color: var(--header-button-bgc);
  color: var(--font-color);
  font-size: 1.5rem;
  width: 5rem;
  border: none;
}

#content {
  width: 800px;
  margin: auto;
}